<div>
<!--   <img src="img/title.png" width="800" height="auto">-->
<!--   <img src="img/subtitle.png" width="800" height="auto">-->
   <img src="img/title.png" width="500" height="auto">
   <img src="img/subtitle.png" width="600" height="auto">
   <img src="img/art.png" width="400" height="auto">
   <a href="/readme#kris-nóva"><img src="img/krisnova.png" width="600" height="auto"></a>
<!--    <p><a class="color-highlight" href="/readme">Read more...</a></p>-->
    <div style="margin-top: 30px">
    <span>
        <button data-tf-popup="n77cHo5a" data-tf-iframe-props="title=Hacking Capitalism" class="button">Early Sign Up</button>
        <script src="//embed.typeform.com/next/embed.js">
        </script>
    </span>
    <span>
        <button onclick="location.href='/readme'" class="button">Read More...</button>
    </span>
    </div>
</div>
