<link rel="canonical" href="https://hackingcapitalism.io"/>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Book",
  "accessibilityAPI": "ARIA",
  "accessibilityControl": [
    "fullKeyboardControl",
    "fullMouseControl"
  ],
  "accessibilityFeature": [
    "largePrint/CSSEnabled",
    "highContrast/CSSEnabled",
    "resizeText/CSSEnabled",
    "displayTransformability",
    "longDescription",
    "alternativeText"
  ],
  "accessibilityHazard": [
    "noFlashingHazard",
    "noMotionSimulationHazard",
    "noSoundHazard"
  ],
  "aggregateRating": {
    "@type": "AggregateRating",
    "reviewCount": "0"
  },
  "bookFormat": "EBook, Hardcover, Paperback",
  "copyrightHolder": {
    "@type": "Person",
    "name": "Kris Nóva",
    "gender": "Female",
    "brand": {
        "URL": "https://github.com/kris-nova/brand"
    },
    "knowsAbout": "Computer Science, Linux, Kubernetes, Cloud, Distributed Systems, Silicon Valley, Security, Tech Industry, Hacking, Infrastructure, Security, ",
    "URL": "https://nivenly.com",
    "image": "https://public.nivenly.com/images/nova-headshot-circle.png",
    "mainEntityOfPage": "https://hackingcapitalism.io"
  },
  "copyrightYear": "2022",
  "description": "This is an independently published book about modeling the tech industry as a system. Particularly this book will model computers, humans, and money and their subsequent relationships. Understand the alarming state of the tech industry for better or for worse.",
  "genre": "http://vocab.getty.edu/aat/300054575",
  "inLanguage": "en-US",
  "isFamilyFriendly": "true",
  "image": "",
  "isbn": "9781684895656",
  "name": "Hacking Capitalism",
  "numberOfPages": "250",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Tigums Collegiate School of Codices, Manuscripts, and Important Business Papers"
  }
}
</script>